 /* Including one css file into other */
/* @import "style2.css";  */

/* @import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"); */
@import 'font-awesome/css/font-awesome.min.css';

.appBackground{
	background-color : #d1d1f8;
	width: '100%';
	height: '100%';
		
}

.footerBackground{
	background-color : rgb(204, 204, 221);
	width: '100%';
	height: '100%';
		
}

.box1{
	background-color : #ffffff;
	border-radius : 10px 10px 10px 10px;
	overflow : hidden;
	height: 200px;
	max-height: 35vh;
	-webkit-box-shadow : 0px 12px 18px -6px rgba(0,0,0,0.3);
	box-shadow : 0px 12px 18px -6px rgba(0,0,0,0.3);
}

.box{
    margin: 20px;
    cursor: pointer;
}

.grid{
	min-height:100%;
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.grid > div{
	flex-basis: calc(33.333% - 40px);
}


.profile-img-card {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
  }

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}



.inputForm{
	background-color : #df9797;
    margin-top:-8px;
}

.inputFormHeader{
	background-color : #df9797;
	text-align: center;
	border-radius : 50px 50px 0px 0px;
	margin-left:100px;
	margin-right:100px;

}

.searchForm{
	background-color : #d6f568;
	margin-top:-8px;
  }

.searchFormHeader{
	background-color : #d6f568;
	text-align: center;
	border-radius : 50px 50px 0px 0px;
	margin-left:100px;
	margin-right:100px;

}



.searchButton{
  background-image : url('assets/button/search.ico');
  background-size: cover;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.deleteButton{
	background-image : url('assets/button/delete.ico');
  background-size: cover;
  display: inline-block;
  height: 50px;
  width: 50px;
}

table, th, td {
	border: 1px solid rgb(150, 147, 147);
  }
th { background-color: #ffd78c; }

tr:nth-child(even){
  background-color: #c2c0c0;
}
tr:nth-child(odd){
	background-color: #c49494;
  }

  .color-nav{
	  background-color:rgb(6, 145, 187);
  }